*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;   
}

body{
    display: flex;
    justify-content: center;
    color: #39FF14;
    background-color: black;
}

div.container{
    width: 60vw;
    height: 90vh;
    margin-top: 5vh;
    align-content: center;
    justify-items: center;
}

#monitor{
    width: 55vw;
    height: 75vh;
    display: flex;
    align-self: center;
    border: 5vw solid #7a7e6a;
    border-radius: 1vw;
    outline: 2vw solid #494b40;
    outline-offset: -5vw;
}



