*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;   
}

body{
    display: flex;
    justify-content: center;
    color: #39FF14;
    background-color: black;
}

div.container{
    width: 60vw;
    height: 90vh;
    background-color: dimgrey;
    border-radius: 2vw;
    margin-top: 5vh;
    align-content: center;
    justify-items: center;
}

div.monitor{
    background-color: black;
    width: 45vw;
    height: 30vw;
    padding: 2vw;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    list-style-position: inside;
    font-size: 2vmin;
}

