@import url('https://fonts.cdnfonts.com/css/commodore-64-pixelized');

*{
    margin: 0vw;
    padding: 0vw;
    box-sizing: content-box;   
}

body{
    display: flex;
    color: #7d71df;
    background-color: #7c71da;
}

div.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

div.wrapper div.titles{
    line-height: 5vmin;
}

div.monitor{
    width: 70vw;
    height: 80vh;
    padding: 2vw;
    font-family: 'Commodore 64 Pixelized', sans-serif;
    user-select: none;
    list-style-position: inside;
    font-size: 3vmin;
    background-color: #3e32a2;
}

div.monitor h1{
    text-align: center;
    font-weight: normal;
    font-size: 3vmin;
}

div.monitor div.terminal p{
    border: 1px;
    display: flex;
    font-family: 'Commodore 64 Pixelized', sans-serif;
    user-select: none;
    overflow: hidden;
    text-transform: uppercase;
    white-space: nowrap;
    border-right: 3vmin solid #7d71df;
    visibility: hidden;
    animation: lampeggio 1s steps(2) infinite,
               scrivi 5s steps(11, end);
    animation-delay: 3s;
    animation-fill-mode: forwards;
    width: fit-content;
}@keyframes lampeggio {0% {border-color: transparent;}}
 @keyframes scrivi {from {width: 0%;} to {width: 20%; visibility: visible;}}

div.monitor div.input:focus{
    outline: none;
}